.pageBody {
	height:100%;
	width:100%;
	opacity: 100%;
	color:white;
	;
}

.background-image{height:100%;
width:100%
}

.homepage{font-size:30px;
		color:black}
h1 {
	height: 100px;
	width: 100%;
	background-image: url("/images/movieHeader.jpg");
	border-radius: 5px;
}
.details{position: absolute;
	top: 23em;
	left: 25em;
	height:400px;
	width:300px
}

.fav_page{
  background-color:black;
  text-align: center;
  color:white;
  display: inline-block;
  font-size: 25px;
}

body {
	background-size: cover;
	opacity: 90%;
	color:black;
	font-size:20px;
	
}

p{
	font-size:25px;
}

h2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#allMovie {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 50px;
}

#movie {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 250px;
	width: 100%
}

#info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	color:white;
}

img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
}

div.stars {
	width: 50px;
	display: inline-block;
}


input {
	border-radius: 5px;
}

.custom-checkbox {
	margin-left: 2em;
	position: relative;
	cursor: pointer;
}

.custom-checkbox .glyphicon {
	color: blue;
	position: absolute;
	top: 0.1em;
	left: -1.5em;
	font-size: 5em;
}

.custom-checkbox .glyphicon-star-empty {
	color: white;
}

.custom-checkbox .glyphicon-star {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star {
	opacity: 0.5;
}

.custom-checkbox input:checked ~ .glyphicon-star {
	opacity: 1;
}