@charset "ISO-8859-1";

body{
	background-color: black;
	color: white;
}
h2 {
	display: flex;
	flex-direction: row;
	 justify-content: space-around;
}
#allMovie {
 	display: flex;
	flex-direction: column;
	 justify-content: space-around;
  height: 50px;
}
#movie{
	display: flex;
	flex-direction: row;
	 justify-content: space-evenly;

	height: 250px;
	width: 100%
}
#info{
	 	display: flex;
	flex-direction: column;
	justify-content: space-evenly
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
div.stars {
	width: 50px;
	display: inline-block;
}

