body{
	height:auto;
	background-size: cover;
	background-image: url("/images/maybe.jpg");
	background-size: cover;
}

.main {

	height:100%;
	width: auto;
}
h1 {
	height: 100px;
	width: 100%;
	background-image: url("/images/movieHeader.jpg");
	border-radius: 5px;
}
body{
	background-image: url("/images/maybe.jpg");
	height:100%;
	width: auto;
}

h2 {
	display: flex;
	flex-direction: row;
	 justify-content: space-evenly;
}
#allMovie {
 	display: flex;
	flex-direction: column;
	 justify-content: space-around;
  height: 50px;
}
#movie{
	display: flex;
	flex-direction: row;
	 justify-content: space-evenly;
	height: 250px;
	width: 100%
}
#info{
	 	display: flex;
	flex-direction: column;
	justify-content: space-evenly
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
div.stars {
	width: 50px;
	display: inline-block;

}
 button{
 border-radius: 5px;
 }
input{
	border-radius: 5px;

}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 5em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input:checked ~ .glyphicon-star {
  opacity: 1;
}